<html>
	<head>
		<title>Live Stock Price</title>
		<link rel="icon" href="/static/img/stock.png" type="image/gif">
		<link rel="stylesheet" href = "/static/css/style.css">
		<!-- <link rel="stylesheet" href = "buttonStyle.css"> -->
		<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
		
	</head>
	<body class="body">
		<div>
			<div class="container">
				<p id="header">Get Stock Price</p>
				<input id="n1" type="text" placeholder = "Enter Company Name" style="background-image: url('/static/img/search.png');"/><br/>
				<div class="suggestions">
				</div>
				<!-- <label>N2:</label><input id="n2" type="number" value="2" max="300" min="-300"/><br/> -->
				<button id="price" class = "button_price">Get Price!</button><br/>		
				<output id="n3" type="text"><br/>
			</div>
			<div id="message">
			</div>
		</div>
	</body>
	<!-- <script type="text/javascript" src="autocomplete.js"></script> -->
	<script
			  src="https://code.jquery.com/jquery-3.2.1.js"
			  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			  crossorigin="anonymous">
	</script>
	<script type="text/javascript" src="/static/javaScript/index.js"></script>
	<script type="text/javascript" src="/static/javaScript/buttonJS.js"></script>
</html>